# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDE specific
.vscode/
.idea/
*.iml
*.project
*.classpath
*.settings/

# OS-specific
.DS_Store
Thumbs.db

# Build directories
/bin/
/build/
/target/
/out/
